# RK3588 Mali-G610 (Valhall CSF). rockchip_linux_defconfig only enables
# Midgard/Utgard which do not match arm,mali-valhall in DT.
CONFIG_MALI_VALHALL=y
CONFIG_MALI_VALHALL_PLATFORM_NAME="rk"
CONFIG_MALI_VALHALL_REAL_HW=y
CONFIG_MALI_VALHALL_CSF_SUPPORT=y
CONFIG_MALI_CSF_INCLUDE_FW=y
CONFIG_MALI_VALHALL_DEVFREQ=y
CONFIG_MALI_VALHALL_EXPERT=y
CONFIG_MALI_VALHALL_DEBUG=y
CONFIG_MALI_VALHALL_ENABLE_TRACE=y
CONFIG_MALI_VALHALL_FENCE_DEBUG=y
CONFIG_MALI_VALHALL_GATOR_SUPPORT=y
CONFIG_MALI_VALHALL_SYSTEM_TRACE=y
CONFIG_MALI_VALHALL_TRACE_POWER_GPU_WORK_PERIOD=y
CONFIG_MALI_VALHALL_PRFCNT_SET_PRIMARY=y
# CONFIG_MALI_VALHALL_NO_MALI is not set
# CONFIG_MALI_VALHALL_CORESIGHT is not set
# CONFIG_MALI_VALHALL_CORESTACK is not set
# CONFIG_MALI_VALHALL_DMA_BUF_MAP_ON_DEMAND is not set
# CONFIG_MALI_VALHALL_DMA_BUF_LEGACY_COMPAT is not set
# CONFIG_MALI_VALHALL_JOB_DUMP is not set
