[Desktop Entry]
Version=1.0
Name=LinuxCNC
Comment=Linuxcnc Machine Controller
Type=Application
Exec=/usr/bin/env RTAPI_UID=1000 RTAPI_FIFO_PATH=/tmp/.rtapi_fifo PYTHONPATH=/usr/lib/python3/dist-packages TCLLIBPATH=/usr/lib/tcl8.6/bwidget /usr/bin/linuxcnc
Icon=linuxcncicon
X-GNOME-DocPath=
Terminal=false
StartupNotify=false
X-AppStream-Ignore=true
Categories=Science;Utility;Engineering;X-CNC;
Keywords=cnc;linuxcnc;cncprog;
